###################
# Terraform files
######
**/backend.tf

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used for local dev
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

###################
# Other files
######

###
# Misc
#
**/*.zip
**/*.localtest
**/*.bkp
/testing
/Output/*

# Standard files
**/.vscode
**/.DS_Store
**/.ropeproject

# Ignore packaged templates
**/packaged-*

###
# Python files
#
**/__pycache__
**/*.pyc
**/.env
**/.venv
**/env/
**/venv/
**/ENV/
**/env.bak/
**/venv.bak/
**/.Python
**/build/
**/develop-eggs/
**/dist/
**/downloads/
**/eggs/
**/.eggs/
**/lib/
**/lib64/
**/parts/
**/sdist/
**/var/
**/wheels/
**/share/python-wheels/
**/*.egg-info/
**/.installed.cfg
**/*.egg
.pre-commit-config.yaml
